.main{
    background-image: url("images/Background.gif");
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
    /* background-position: center; */
    position: relative;
}
.character{
    width: 450px;
    height: 450px;
    object-fit: cover;
    position: absolute;
    bottom: 10px;
}
#character2{
    transform: scaleX(-1);
    /* float: right; */
    margin-left: 75vw;
}



/* Scale X -1 */